<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Ghibliotheque</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
        <a href="/" title="Retour à l'accueil">
          <img class="banner" src="../images/banner.jpg" alt="Ghibli logo">
     </a>
    </header>
            <nav>
          <ul>
            <li><a target="_blank" href="/" class="pure-menu-link">Accueil</a></li>
            <li><a target="_blank" href="./films" class="pure-menu-link">Liste des films</a></li>
            <li><a target="_blank" href="./suggest" class="pure-menu-link">Suggestions d'oeuvres</a></li>
          </ul>
        </nav>      

    <main>
